/* COLORS
#8981A6
#6A84A6
#8EA8BF
#75B2BF
#F2F2F2 
*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  z-index: 0;
  background-color: white;
  width: 100vw;
  top: 0px;
  padding: 5px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.26);
}
.logo-text-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.logo {
  height: 80px;
  /* margin: 5px; */
  margin-bottom: -25px;
}
/* .logo-box {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 85px;
  height: 85px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
} */

.heading-primary {
  display: flex;
  flex-direction: column;
  color: black;
  text-transform: uppercase;
  /* margin-top: 10px; */
  margin-top: 5px;
  margin-left: -31px;
}
.heading-primary-main {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 5px;
  margin-top: 10px;
  margin-left: 11px;
  animation-name: moveInLeft;
}
.heading-primary-sub {
  font-size: 0.5rem;
  font-weight: 500;
  letter-spacing: 6px;
  margin-left: 35px;
  /* margin-bottom: 15px; */
}
.nav-container {
  /* position: fixed; */
}
/* creating animation for title */
@keyframes moveInLeft {
  /* the start, before it starts*/
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  /* the end */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  /* the start, before it starts*/
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  /* the end */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInTop {
  /* the start, before it starts*/
  0% {
    opacity: 0;
    transform: translatey(-100px);
  }

  /* the end */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  /* the start, before it starts*/
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  /* the end */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* :link & :visited are a seudo element -- we want unvisited and visited link to always look the same*/
.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px 15px;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 100px;
  /* treats it like a normal block element */
  display: inline-block;
  transition: all 0.2;
  position: relative;
}
.btn:hover {
  /* this makes button go up a little   */
  transform: translateY(-3px);
  /* this makes the shadow  */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  /* this makes the shadow smaller to look like button is being pressed in */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-white:hover {
  color: #8981a6;
  font-weight: 1000px;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  /* this puts the after button BEHIND the original  */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white::after {
  background-color: #fff;
  color: #8981a6;
}
.btn:hover::after {
  transform: scale(1.4) scaleY(1.6);
  /* sets it to invisible .4s (see transition above) after hover */
  opacity: 0;
}

/* this moves button from bottom to top  */
.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  /* applies styles of 0% when animation starts; */
  animation-fill-mode: backwards;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .logo-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .logo {
    height: 75px;
  }
  .heading-primary {
    display: flex;
    flex-direction: column;
    color: black;
    text-transform: uppercase;
  }
  .heading-primary-main {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 5px;
    animation-name: moveInLeft;
  }
  .heading-primary-sub {
    font-size: 0.5rem;
    font-weight: 500;
    letter-spacing: 7px;
    margin-bottom: 15px;
  }
}
