<main>
  <header class="header">
    <div class="logo-text-container">
      <div class="logo-box">
        <img src="./assets/icons/big-logo.png" alt="Logo" class="logo" />
        <!-- <img src="/assets/icons/lil-geo-logo.png" alt="Logo" class="logo"> -->
      </div>

      <div class="text-box">
        <h1 class="heading-primary">
          <!-- span is to style text differently -->
          <span class="heading-primary-main">Alyssa Crechiolo</span>
          <span class="heading-primary-sub">Front End Developer</span>
        </h1>
      </div>
    </div>
    <div class="nav-container">
      <a href="#" class="btn btn-white btn-animated" routerLink="/aboutme"
        >about me</a
      >
      <a href="#" class="btn btn-white btn-animated" routerLink="/resume"
        >resume</a
      >
      <a href="#" class="btn btn-white btn-animated" routerLink="/projects"
        >projects</a
      >
    </div>
  </header>
</main>
