/* COLORS
#8981A6
#6A84A6
#8EA8BF
#75B2BF
#F2F2F2 
*/
/* main{
    height: 100vh;
    background-image: url("src/assets/backgrounds/geobackground2.jpg"),
    linear-gradient(rgba(34, 238, 208, 0.2),rgba(238, 231, 231, 0.392));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
  background-size: 100% 150vh;
} */
.body {
    position: relative;
}
.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
         rgba(111, 203, 213, 0.604),
         rgba(213, 218, 221, 0.509)),
          url("src/assets/backgrounds/geobackground2.jpg");
    /* cover fits picture inside of the set vh */
    background-size: cover;
    background-position: top;
    /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: relative;
    margin: 0px 50px;
}
.logo-box {
    position: absolute;
    top: 29%;
    left: 50%;
    /* transform in relation to element */
    transform: translate(-50%, -50%);
    }

    .logo {
        height: 35px;
        animation-fill-mode: backwards;
        animation: moveInTop 1.2s ease-out;
    }
    
    .text-box {
        position: absolute;
        /* top & left in relation to parent */
        top: 50%;
        left: 50%;
        /* transform in relation to element */
        transform: translate(-48%, -50%);
        /* centers button because the button is an anchor and treated like text */
        text-align: center;
    }
    .heading-primary {
        color: white;
        text-transform: uppercase;
        /* keeps animation from being shaky */
        backface-visibility: hidden;
        margin-bottom: 50px;
        
    
    }
    .heading-primary-main {
    
        /* puts text one under another  */
        display: block;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 15px;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /* how many times animation happens  */
        /* animation-iteration-count: ; */
        /* waits x seconds to start animation when site is loaded  */
        /* animation-delay: .5s; */
        
    }
    .heading-primary-sub {
        /* puts text one under another  */
        display: block;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 10px;
        /* shortened code for what you see above */
        animation: moveInRight 1s ease-out;
        
    }
    /* creating animation for title */
    @keyframes moveInLeft {
        /* the start, before it starts*/
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        80% {
            transform: translateX(10px);
        }
        /* the end */
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
    
    @keyframes moveInRight {
        /* the start, before it starts*/
        0% {
            opacity: 0;
            transform: translateX(100px);
        }
        80% {
            transform: translateX(-10px);
        }
        /* the end */
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
    @keyframes moveInTop {
        /* the start, before it starts*/
        0% {
            opacity: 0;
            transform: translatey(-100px);
        }
        
        /* the end */
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
    @keyframes moveInBottom {
        /* the start, before it starts*/
        0% {
            opacity: 0;
            transform: translateY(30px);
        }
        
        /* the end */
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
    /* :link & :visited are a seudo element -- we want unvisited and visited link to always look the same*/
    .btn:link, .btn:visited {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10px;
        padding: 5px 20px;
        margin-left: 5px;
        border-radius: 100px;
        /* treats it like a normal block element */
        display: inline-block;
        transition: all .2;
        position: relative;
    
    }
    .btn:hover {
        /* this makes button go up a little   */
        transform: translateY(-3px);
        /* this makes the shadow  */
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
    }
    .btn:active {
        transform: translateY(-1px);
        /* this makes the shadow smaller to look like button is being pressed in */
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    
    }
    .btn-white {
        background-color: #fff;
        color: #777;
    }
    
    .btn-white:hover {
        color: #8981A6;
        font-weight: 1000px;
    
    }
    .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        /* this puts the after button BEHIND the original  */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;                 
        transition: all .4s;
    }
    .btn-white::after {
        background-color: #fff;
        color: #8981A6;
    }
    .btn:hover::after {
        transform: scale(1.4) scaleY(1.6);
        /* sets it to invisible .4s (see transition above) after hover */
        opacity: 0;
    }
    
    
    /* this moves button from bottom to top  */
    .btn-animated {
        animation: moveInBottom .5s ease-out .75s;
        /* applies styles of 0% when animation starts; */
        animation-fill-mode: backwards;
    }